.body-padding {
 padding: 10px;
}
.wrapper {
 float:left;
 padding: 10px;
}

.icon {
 float: left;
 border: 4px solid black;
 border-style: solid none none none;
}
.iconSmall {
 border-style: solid solid solid none;
}

.iconColor {
 width: 150px;
 height: 150px;
 display: table-cell;
 vertical-align:middle;
 border-left: 4px solid black;
}
.iconColorSmall {
 width: 75px;
 height: 75px;
}

.iconCore {
 background-repeat: no-repeat; 
 background-position: center; 
 display:table-cell; 
 width: 150px;
}
.iconCoreSmall {
 background-size: 65%;
}

.iconSpin {
 width: 70%;
 margin: auto auto; 
 display: block;
 /*transition: all 1s linear;*/
}

.corner {
 float: left; 
 width: 150px; 
 height: calc(200px + 30px + 8px); 
 border: 4px solid black;
 border-style: solid none none none
}

.content {
 float: left; 
 padding: 20px;
 min-height: calc(400px - 8px);
 min-width: calc(400px + 30px - 8px);
 border: 4px solid black;
 border-style: solid;
}
.contentSmall {
 padding: 6px 10px 0px;
 min-height: calc(75px + 8px);
 max-height: calc(75px + 8px);
 min-width: 200px;
 border: 4px solid black;
 border-style: solid solid solid none
}

ul.menu {
 display: inline-block;
 margin: 0;
 padding: 0;
 width: 100%;
 background-color: black;
 font-weight: bold;
}

ul.menu li {
 display: inline;
 float: left;
 padding:10px;
}

ul.menu li a {
 display: block;
 color: white;
 text-decoration: none;
}

a {
 color: black;
}

.urejaj-inline-block {
 display: none;
}

.urejaj-table-cell {
 display: none; 
}       

.urejaj-table-row {
 display: none; 
}       
